mixin stylesheet(src)
  link(rel='stylesheet' href="/stylesheets/#{src}.css")

mixin javascript(src, ...rest)
  script(type="text/javascript" src="/javascripts/#{src}.js")
  each file in rest
    script(type="text/javascript" src="/javascripts/#{file}.js")
