<a class="logo">
  <img src="images/logo.png">
</a>
<div class="cart">
  <a href="/">
    <span class="left">Shopping Cart</span>
    <span class="right"><!--
    --><span class="count">{{totalQuantity}} </span> items
  </span>
</div>
